<ion-split-pane>
  <ion-menu id="auth" [content]="content">

    <ion-content>
      <div class="thumbnail">
        <ion-item no-lines class="heading" [hidden]="!user">
          <ion-avatar item-start>
            {{ user?.name | avatarfirstchar }}
          </ion-avatar>
          <h5>{{ user?.name }}</h5>
          <p>{{ user?.email }}</p>
        </ion-item>
      </div>
      <ion-list no-lines>
        <!--<ion-list-header class="item item-md list-header list-header-md">-->
        <!--<ion-label class="label label-md">-->
        <!--Navigate-->
        <!--</ion-label>-->
        <!--</ion-list-header>-->
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [hidden]="user?.roles[0]?.id > p.role">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
        <button menuClose ion-item *ngFor="let p of customerPages" (click)="openPage(p)" [hidden]="user?.roles[0]?.id != p.role">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list no-lines>
        <button menuClose ion-item *ngFor="let p of logInPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
