<ion-split-pane when="xl">
  <ion-menu id="auth" [content]="content">

    <ion-content>
      <div class="thumbnail">
        <ion-item no-lines class="heading" [hidden]="!user">
          <ion-avatar item-start>
            {{ user?.name | avatarfirstchar }}
          </ion-avatar>
          <h3>{{ user?.name }}</h3>
          <p>{{(user?.customers && user?.customers?.length)? user?.customers[0]?.name : agency?.name }}</p>
        </ion-item>
      </div>
      <ion-list no-lines *ngIf="user?.roles">
        <ion-item-divider sticky>
          <ion-label>
            Navigation
          </ion-label>
        </ion-item-divider>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [hidden]="user?.roles[0]?.id > p.role">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
          <ion-badge [hidden]="!p.badge" item-end>Beta {{p.badge}}</ion-badge>
        </button>
        <button menuClose ion-item *ngFor="let p of customerPages" (click)="openPage(p)" [hidden]="user?.roles[0]?.id != p.role">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list no-lines>
        <ion-item-divider sticky>
          <ion-label>
           Account
          </ion-label>
        </ion-item-divider>
        <button menuClose ion-item *ngFor="let p of logInPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
