<ion-split-pane>
  <ion-menu id="auth" [content]="content">

    <ion-content>
      <div class="thumbnail">
        <div class="heading">
          <ion-avatar item-start>
          </ion-avatar>
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <ion-list no-lines>
        <!--<ion-list-header class="item item-md list-header list-header-md">-->
        <!--<ion-label class="label label-md">-->
        <!--Navigate-->
        <!--</ion-label>-->
        <!--</ion-list-header>-->
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list no-lines>
        <button menuClose ion-item *ngFor="let p of logInPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
