<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!toggled">Tasks</ion-title>
    <ion-searchbar
      *ngIf="toggled"
      (ionInput)="getItems($event)"
      (ionCancel)="cancelSearch($event)"
      (ionClear) = "cancelSearch($event)"
      [showCancelButton]="true"
      [autocomplete]="true"
      [animated]="true">
    </ion-searchbar>
    <ion-buttons end *ngIf="!toggled">
      <button ion-button icon-only color="royal" (click)="store()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <p padding *ngIf="!tasks?.length">No Projects yet, please add <a (click)="store()">new</a> one!</p>

  <ion-list *ngIf="tasks?.length" padding-top>
    <ion-item-sliding *ngFor="let task of items">
      <ion-item (click)="view(task)">
        <h2>{{ task.name }}</h2>
        <p>Deadline: {{ task.deadline | date }}</p>
        <ion-note item-end>{{ percentage(task) }}%</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="view(task)">
          <ion-icon name="eye"></ion-icon>
          View
        </button>
        <button ion-button color="primary" (click)="edit(task)">
          <ion-icon name="brush"></ion-icon>
          Edit
        </button>
        <button ion-button color="light" (click)="archive(task)">
          <ion-icon name="filing"></ion-icon>
          Archive
        </button>
        <button ion-button color="danger" (click)="delete(task)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
