<!--
  Generated template for the TasksViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom color="primary">
    <ion-title>{{task.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let step of task.steps; let s_count = index">

      <ion-item-divider sticky>
        <ion-label>
          {{step.name}}
        </ion-label>
        <ion-note item-end class="date">{{ task.step_task[s_count].expiring_date | date: 'longDate'}}</ion-note>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let detail of step.details; let d_count = index" [attr.track]="step.pivot.status">
        <!-- TODO: click view function -->
        <ion-item (click)="view(s_count, d_count, detail)" [ngClass]="{success: task.step_task[s_count].detail_step_task[d_count].status == 1, danger: task.step_task[s_count].detail_step_task[d_count].status == 0, warning: task.step_task[s_count].detail_step_task[d_count].status == 2}">
          <h3>{{detail.name}}</h3>
          <p>
            {{(detail.roled)? "Agency" : "Customer"}}
            {{(detail.detail_type)? "Date Picker" : "File Upload"}}
          </p>
        </ion-item>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>
</ion-content>
