<!--
  Generated template for the TasksViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>{{task.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="edit()">
        <ion-icon name="brush"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top class="segment-bar">


    <ion-segment [(ngModel)]="segment">
      <ion-segment-button color="danger" *ngFor="let step of task.steps" [value]="step.name">
        {{ step.name }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">
    <ng-container *ngFor="let step of task.steps; let s_count = index">
      <ion-list *ngSwitchCase="step.name">
        <ion-item *ngFor="let detail of step.details; let d_count = index">
          <ion-card>
            <ion-card-header>
              {{detail.name}}
            </ion-card-header>
            <ion-card-content>
                <p *ngIf="detail.description">{{detail.description}}</p>
              <ion-list *ngIf="detail.detail_type == 0 && detail.roled == 0 && task.step_task[s_count].detail_step_task[d_count]">
                <ion-item *ngFor="let file of task.step_task[s_count].detail_step_task[d_count].files">
                  <ion-icon name="document" item-left></ion-icon>
                  <h2>{{ file.filename }}</h2>
                  <h3>{{ file.mime}}</h3>
                  <p>{{ file.description }}</p>
                  <ion-note item-end>{{file.size | fileSize }}</ion-note>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="detail.detail_type == 0 && detail.roled == 1 && task.step_task[s_count].detail_step_task[d_count]">
                <ion-item *ngFor="let file of task.step_task[s_count].detail_step_task[d_count].files">
                  <ion-icon name="document" item-left></ion-icon>
                  <h2>{{ file.filename }}</h2>
                  <h3>{{ file.mime}}</h3>
                  <p>{{ file.description }}</p>
                  <ion-note item-end>{{file.size | fileSize }}</ion-note>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="detail.detail_type == 1 && detail.roled == 0 && task.step_task[s_count].detail_step_task[d_count]">
                <ion-item *ngFor="let date of task.step_task[s_count].detail_step_task[d_count].dates">
                  <ion-icon name="calendar" item-left></ion-icon>
                  <h2>{{ date.data }}</h2>
                  <h3>{{ date.pivot.status }}</h3>
                  <p>{{ date.description }}</p>
                  <ion-note item-end>{{file.size | fileSize }}</ion-note>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="detail.detail_type == 1 && detail.roled == 1 && task.step_task[s_count].detail_step_task[d_count]">
                <ion-item *ngFor="let date of task.step_task[s_count].detail_step_task[d_count].dates">
                  <ion-icon name="calendar" item-left></ion-icon>
                  <h2>{{ date.data }}</h2>
                  <h3>{{ date.pivot.status }}</h3>
                  <p>{{ date.description }}</p>
                  <ion-note item-end>{{file.size | fileSize }}</ion-note>
                </ion-item>
              </ion-list>
              tipo: {{detail.detail_type}}<br>
              ruolo: {{detail.roled}}
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
  <ion-fab right bottom>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="send"></ion-icon></button>
      <button ion-fab><ion-icon name="alarm"></ion-icon></button>
      <button ion-fab><ion-icon name="document"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
