<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title>New Task</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="store()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div [hidden]="missed_template">

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="task.name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Item Number</ion-label>
      <ion-input [(ngModel)]="task.item_number" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Design Type</ion-label>
      <ion-select [(ngModel)]="task.design_type">
        <ion-option [value]="1">M1</ion-option>
        <ion-option [value]="2">M2</ion-option>
        <ion-option [value]="3">AD</ion-option>
        <ion-option [value]="4">OP</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="task.description" type="text"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Template</ion-label>
      <ion-select [(ngModel)]="selected_template" (ngModelChange)="displaySteps($event)">
        <ion-option *ngFor="let template of templates" [value]="template">{{template.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Product Manager </ion-label>
      <ion-select [(ngModel)]="task.product_manager_id">
        <ion-option *ngFor="let user of pms" [value]="user.id">{{user.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Deadline</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="task.deadline"></ion-datetime>
    </ion-item>

    <ion-item *ngFor="let step of steps">
      <ion-label floating>{{ step.name }} Expiring Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="step.expiring_date"></ion-datetime>
    </ion-item>

  </div>
  <ion-list-header no-lines [hidden]="!missed_template">
    You need at least one template to create new tasks!
  </ion-list-header>

</ion-content>
