page-users {
  .item-md ion-avatar {
    min-width: 40px;
    min-height: 40px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 4rem;
    background: map_get($colors, primary);
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
  }
}
